.DS_Store
*.DS_Store
Thumbs.db
Thumbs.db\:encryptable
RUNNING_PID
db
*.db
*.bak
.svn

.classpath
.externalToolBuilders/
.project
.settings/
.springBeans

.idea/

*.iml
*.ipr
*.iws

~/
node_modules/
bower_components/

.gradle/
build/